* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

:root {
  --font-family: 'Roboto', sans-serif;


  font-size: 62.5%;
}

body{
  height: 100vh;
  width: 100vw;

  background-image: url(./imgs/mountains-universe-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

body.universo{
  background-image: url(./imgs/mountains-universe02.png);
}
body.exploracao {
  background-image: url(./imgs/mountains-universe-3.png);
}
.container{
  gap:3.2rem;
}


header a{
  text-decoration: none;

  font-family: var(--font-family);
  font-size: 2rem;

  line-height:2.2rem ;

  color:#C4C4CC ;

  font-weight: 400;

}

.nav:hover{
  font-weight: 700;
  color: white ;
  transition: 0.3s;
}

.h1Home{
  color: #E1E1E6;
  font-family: var(--font-family);
  font-size: 4.8rem;
  line-height: 6rem;
  font-weight: 700;
}

.btn{
  width: 19.5rem;
  height: 4.8rem;
  
  display: flex;
  justify-content: center;
  align-items: center;
}


.containHome{
  margin-top: 29.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.flexStartContain{
margin: 18.5rem 0 0 10.2rem;
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 2.4rem;


}
.p{
  color: #9f9f9f;
  font-family: var(--font-family);
  font-size: 1.8rem;
  line-height: 2.88rem;
  font-weight: 400;
  width: 64.8rem;
  height: 17.4rem;

}

